@font-face {
    font-family: DroidKufi;
    src: url(DroidKufi.ttf);
}
*{
	font-family:DroidKufi;
    
}
body{
    background-color: #f5f4f4;
}
* td{
    
    font-size: 10pt;
}
.alert-box {
        direction: rtl;
	color:#555;
	border-radius:10px;
	padding:10px 36px;
        margin: 0 auto; 
        margin-top: 10px;
        width: 50%;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec url('../images/style images/error.png') no-repeat 10px 50% ;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../images/style images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}
.warning {
	background:#fff8c4 url('../images/style images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
        border:1px solid #E88B00;
        background:#ffedb5     url('../images/style images/notice.png') no-repeat 10px 50%;
	
}
.confirm{
    font-size: 8pt;
    text-align: center;
    padding: 0;
}

.yes{
    padding: 2px;
    background: #e9ffd9 ;
    border:1px solid #a6ca8a;
}
.no{
    padding: 2px;
    width: 30px;
    background:#ffecec ;
    border:1px solid #f5aca6;
}
.main{
	width:80%;
	margin:0 auto ; 
	border:#000 solid 3px ;
	border-radius:5px;
	margin-top:10px;
	padding:20px 0 20px 0 ;
    background: #ecebeb;
	}
.teacherMain{
	width:80%;
	margin:0 auto ; 
	border:#666666 solid 3px ;
	border-radius:5px;
	margin-top:10px;
	padding:20px 0 20px 0 ;
	background:#CCCCCC;
	}
.studentMain{
	width:80%;
	margin:0 auto ; 
	border:#E88B00 solid 3px ;
	border-radius:5px;
	margin-top:10px;
	padding:20px 0 20px 0 ;
	background:#FFEAB7;
	}
#title{
	padding:10px 0 10px 0 ;
	width:80%;
	margin:0 auto ; 
	border:#399 solid 3px ;
	border-radius:5px;
	margin-top:30px;
	background:#8BEBDF;
	text-align:center;
	}
.adress{
        background: #Fff;
        margin: 0 auto;
        width: 50%;
        border: solid #FFEAB7 3px ;
        border-radius: 10px;
	}

#title h1{
	color: #000;
	}
.login{
	margin-top:50px;
	margin-bottom:50px;
	}
.textFiels{
	text-align:right;
    padding: 1px 10px;
    border: 1px #990033 solid ;
    border-radius: 3px;
    background-color: #f5fff7;
	}
.textFiels:focus{
    box-shadow: 0 0 5px #C00;   
    }	
	

/*    BUTTONS STYLE       */


.bt{
	width:150px;
	margin: 3px ;
        
	}
.add_bt{
    background-color: #c5f7c3;
    border: 2px solid #386335;
    border-radius: 5px;
    }
.add_bt:hover{
    background-color: #386335;
    border: 2px solid #386335;
    border-radius: 5px;
    color: #fff;
    }
.del_bt{
    background-color: #f99191;
    border: 2px solid #990033;
    border-radius: 5px;
    }
.del_bt:hover{
    background-color: #990033;
    border: 2px solid #990033;
    border-radius: 5px;
    color: #fff;
    }
.info_bt{
    background-color: #FFEAB7;
    border: 2px solid #853700;
    border-radius: 5px;
    }
.info_bt:hover{
    background-color: #853700;
    border: 2px solid #853700;
    border-radius: 5px;
    color: #fff;
    }
.select{
    background-color: #fff5f5;
	text-align:right;
    padding: 1px 10px;
    border: 1px #990033 solid ;
    border-radius: 2px;
        }
.select:focus{
    box-shadow: 0 0 5px #C00;   
    }
#footer{
	margin-top:70px;
	text-align:center;
	border-top:dashed 1px #fff ;
	}
.bg{
	
	}
.table{
	color:#000;
	border:solid #Fff 1px;
	border-radius:5px;
	}
.linkBT{
	width:200px;
	padding:5px 5px 5px 5px ;
	background:#FFC;
	border:solid 2px #FFCC99;
	}
.linkBT a{
	width:20px;
	color:#C00;
	font-weight:bold;
	text-decoration:none;
	}
        .table{
            border: 0px;
            background: #399;
        }
        .table_header{
            
            background: #ebad6f;
            border:solid 2px #C00;
            border-radius: 5px;
            
        }
        .table_data0{
            
        transition: background-color .2s;
            background: #Fff;
            border:solid 2px chocolate;
            border-radius: 5px;
            
        }
        .table_data0:hover{
           
            background: #93e7bd;
            border-radius: 5px;
            color: #096637;
            
        }
        .table_data1{
            
            background: #FFEAB7;
            border:solid 2px chocolate;
            border-radius: 5px;
            
        }
        .table_data1:hover{
            
            background: #93e7bd;
            border-radius: 5px;
            color: #096637;
            
        }
/**********      PAGINATIO      ************/

.pagination {
    text-align: center;
    margin: 10px
}

.pagination a {
    color: #4A4A4A;
    border: 0; outline: 0;
}

.pagination ul {
	list-style-type:none;
        
}

.pagination ul li {
	display:inline;
	padding: 0 20px 0 20px;
}
.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
	line-height: 1.5em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}
.current{
    background: #FFCC99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav * {
    text-align: center;
}
.nav ul {
  list-style: none;
  background-color: #fff5f5;
  text-align: center;
  padding: 0;
  /*margin: 0;*/
  margin: 0 auto;
  width: 90%;
  border: 2px #990033 solid ;
  border-radius: 5px;
}

.nav li {
  padding: 5px;
  font-size: 12pt;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #000;
  display: block;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #990033;
  color: #fff;
}

.nav a.active {
  background-color: #990033;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: 12pt;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 12pt;
    display: inline-block;
  }

  .nav a {
    border-bottom: none;
    border-radius: 5px;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: auto;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}

