@font-face {
    font-family: DroidKufi;
    src: url(DroidKufi.ttf);
}
*{
	font-family:DroidKufi;
        
}
* td{
    
    font-size: 10pt;
}
.alert-box {
        direction: rtl;
	color:#555;
	border-radius:10px;
	padding:10px 36px;
        margin: 0 auto; 
        margin-top: 10px;
        width: 50%;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec url('../images/style images/error.png') no-repeat 10px 50% ;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../images/style images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}
.warning {
	background:#fff8c4 url('../images/style images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
        border:1px solid #E88B00;
        background:#ffedb5     url('../images/style images/notice.png') no-repeat 10px 50%;
	
}
.confirm{
    font-size: 8pt;
    text-align: center;
    padding: 0;
}

.yes{
    padding: 2px;
    background: #e9ffd9 ;
    border:1px solid #a6ca8a;
}
.no{
    padding: 2px;
    width: 30px;
    background:#ffecec ;
    border:1px solid #f5aca6;
}
.main{
	width:80%;
	margin:0 auto ; 
	border:#399 solid 3px ;
	border-radius:5px;
	margin-top:10px;
	padding:20px 0 20px 0 ;
	background:#8BEBDF;
	}
.teacherMain{
	width:80%;
	margin:0 auto ; 
	border:#666666 solid 3px ;
	border-radius:5px;
	margin-top:10px;
	padding:20px 0 20px 0 ;
	background:#CCCCCC;
	}
.studentMain{
	width:80%;
	margin:0 auto ; 
	border:#E88B00 solid 3px ;
	border-radius:5px;
	margin-top:10px;
	padding:20px 0 20px 0 ;
	background:#FFEAB7;
	}
#title{
	padding:10px 0 10px 0 ;
	width:80%;
	margin:0 auto ; 
	border:#399 solid 3px ;
	border-radius:5px;
	margin-top:30px;
	background:#8BEBDF;
	text-align:center;
	}
.adress{
        background: #Fff;
        margin: 0 auto;
        width: 50%;
        border: solid #FFEAB7 3px ;
        border-radius: 10px;
	}

#title h1{
	color: #000;
	}
.login{
	margin-top:50px;
	margin-bottom:50px;
	}
.textFiels{
	padding-left:10px;
	padding-right:10px;
	text-align:right;
	}
	
	

/*    BUTTONS STYLE       */


.bt{
	width:150px;
	margin: 3px ;
        
	}
	
	
.select{
        padding: 0;
        
        }
#footer{
	margin-top:70px;
	text-align:center;
	border-top:dashed 1px #fff ;
	}
.bg{
	
	}
.table{
	color:#000;
	border:solid #Fff 1px;
	border-radius:5px;
	}
.linkBT{
	width:200px;
	padding:5px 5px 5px 5px ;
	background:#FFC;
	border:solid 2px #FFCC99;
	}
.linkBT a{
	width:20px;
	color:#C00;
	font-weight:bold;
	text-decoration:none;
	}
        .table{
            border: 0px;
            background: #399;
        }
        .table_header{
            
            background: #ebad6f;
            border:solid 2px #C00;
            border-radius: 5px;
            
        }
        .table_data0{
            
        transition: background-color .2s;
            background: #Fff;
            border:solid 2px chocolate;
            border-radius: 5px;
            
        }
        .table_data0:hover{
           
            background: #93e7bd;
            border-radius: 5px;
            color: #096637;
            
        }
        .table_data1{
            
            background: #FFEAB7;
            border:solid 2px chocolate;
            border-radius: 5px;
            
        }
        .table_data1:hover{
            
            background: #93e7bd;
            border-radius: 5px;
            color: #096637;
            
        }
/**********      PAGINATIO      ************/

.pagination {
    text-align: center;
    margin: 10px
}

.pagination a {
    color: #4A4A4A;
    border: 0; outline: 0;
}

.pagination ul {
	list-style-type:none;
        
}

.pagination ul li {
	display:inline;
	padding: 0 20px 0 20px;
}
.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
	line-height: 1.5em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}
.current{
    background: #FFCC99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/******      CREATIVE MENU BAR     **********/

.container {
    margin: 10px auto;
}

/* general styles */
.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 58px;
}
.menu li {
    background: -moz-linear-gradient(#292929, #252525);
    background: -ms-linear-gradient(#292929, #252525);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #252525));
    background: -webkit-linear-gradient(#292929, #252525);
    background: -o-linear-gradient(#292929, #252525);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525')";
    background: linear-gradient(#292929, #252525);

    border-bottom: 2px solid #181818;
    border-top: 2px solid #303030;
    min-width: 200px;
    
}
.menu > li {
    display: block;
    float: right;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}
.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #808080;
    display: block;
    font-size: 15px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
    
}

/* onhover styles */
.menu li:hover {
    background-color: #1c1c1c;
    background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
    background: -ms-linear-gradient(#1c1c1c, #1b1b1b);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
    background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
    background: -o-linear-gradient(#1c1c1c, #1b1b1b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
    background: linear-gradient(#1c1c1c, #1b1b1b);

    border-bottom: 2px solid #222222;
    border-top: 2px solid #1B1B1B;
}
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #454545;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}